html {
  font-size: 12px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #191919;
}

section {
  padding: 8.333em 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6, p, span, b, div {
  line-height: 1;
}

.section__title {
  text-align: center;
  display: block;
  font-size: 3.333rem;
  font-weight: 900;
  text-transform: uppercase;
}

.section__title:after {
  content: '';
  display: block;
  margin: 2.5rem auto 0;
  width: 8.333rem;
  height: 0.167rem;
  background-color: #e6e6e6;
}

.section__subtitle {
  text-align: center;
  display: block;
  font-size: 1.833rem;
  font-weight: 100;
  line-height: 3rem;
  margin: 2.5rem 0;
}

.third__title {
  font-size: 1.833rem;
  font-weight: 500;
  margin-bottom: 1.55rem;
}

.simple__text {
  line-height: 2em;
}