@import '_reset';
@import '_fonts';
@import '../../libs/fontawesome/scss/fontawesome.scss';
@import '../../libs/fontawesome/scss/fa-regular.scss';
@import '../../libs/fontawesome/scss/fa-brands.scss';
@import '../../libs/fontawesome/scss/fa-solid.scss';
@import '_default';
@import '../../libs/slick/css/slick';

@charset "utf-8";

//variables


$white: #ffffff;
$gray: #898989;
$gold: #a08040;

@mixin translate-center {
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

@mixin translate-Y {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin top-center {
  left: 0;
  right: 0;
  top: 0;
}

@mixin blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


//variables end--------------------------------------------------------------------------------------

//ui kit


.nav-link {
  font-size: 1em;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.parallax {
  background-position-x: 50%;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  color: $white;
  &__content {
    position: absolute;
    bottom: 0;
    @include top-center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8.333em 0;
  }
}

.parallax-one {
  background: url("../images/temp/parallax.jpg") no-repeat fixed center / cover;
  min-height: 42.500rem;
}

.parallax-two {
  background: url("../images/temp/parallax-2.jpg") no-repeat fixed center / cover;
  min-height: 50rem;
}

input {
  width: 100%;
  min-height: 3.750rem;
  padding: 0 1.333rem;
  font-weight: 800;
}

input.input {
  background-color: transparent;
  border: 0.083rem solid $white;
  font-size: 1.333rem;
  color: $white;
  &::placeholder {
    text-indent: 0px;
    transition: text-indent 0.9s ease;
    color: $gray;
    font-weight: 300;
  }
  &:focus::placeholder {
    text-indent: -500px;
    transition: text-indent 0.3s ease;
  }
}

input.button {
  cursor: pointer;
  background-color: $white;
  border: none;
  font-size: 1.833rem;
  color: $gray;
  text-transform: uppercase;
  transition: background-color 2s ease;
  &:hover {
    background-color: $gray;
    color: white;
    mix-blend-mode: multiply;
    transition: background-color 2s ease;
  }
}

//ui kit end---------------------------------------------------------------------------------------

//header styles

header.header {
  height: 100vh;
  .container-first {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 12;
    padding-top: 3.167em;
    @include top-center;
    .nav-bar {
      nav{
        & > ul {
          li {
            margin-right: 1.250em;
          }
        }
      }
      & > ul {
        li {
          margin-left: 1.250em;
        }
      }
    }
    .brand {
      color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate-center;
      h1 {
        font-size: 6em;
        font-weight: 300;
        text-transform: uppercase;
        margin-top: 2.167rem;
        & > span {
          font-weight: 900;
        }
      }
      & > span {
        font-size: 2em;
        font-weight: 500;
        margin-top: 1.667rem;
      }
    }
    .down {
      position: absolute;
      left: 50%;
      bottom: 7.1%;
      @include translate-center;
      span {
        color: $white;
      }
      .scroll {
        position: relative;
        width: 26px;
        height: 26px;
        margin-top: 2.250em;
        border: 1px solid $white;
        border-radius: 50%;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          @include translate-center;
        }
      }
    }
    .arrows {
      button {
        position: absolute;
        top: 50%;
        z-index: 13;
        opacity: .7;
        background: none;
        border: none;
        cursor: pointer;
        width: 150px;
        height: 150px;
        transition: all .3s ease;
      }
      .arrow-next {
        right: 0;
        &:hover {
          right: -5px;
        }
      }
      .arrow-prev {
        left: 0;
        &:hover {
          left: -5px;
        }
      }
    }
  }
// Slider
  .welcome {
    position: absolute;
    @include top-center;
    .slider {
      height: 100vh;
      &.slick-dotted {
        margin: 0;
      }
      .slider-bg {
        height: 100vh;
        width: 100%;
        //position: relative;
        &.first {
          background: url("../images/temp/bg-1.jpg") no-repeat center / cover;
        }
        &.second {
          background: url("../images/temp/bg-2.jpg") no-repeat center / cover;
        }
        &.third {
          background: url("../images/temp/bg-3.jpg") no-repeat center / cover;
        }
      }
      .slick-slide {
        height: 100%;
      }
      .slick-arrow {
        position: absolute;
        opacity: 0;
      }
      .slick-next {
        top: 0;
      }
    }
  }
}

//header styles end---------------------------------------------------------------------------------------


//sections styles

section.about {
  .section__item {
    margin-top: 2.5em;
    .section__icon {
      margin-bottom: 1.750em;
    }
    .simple__text {
      text-align: center;
    }
  }
}

section.culture {
  .section__item {
    margin-top: 2.5em;
  }
  .section__icon {
    margin: 0 1.750em 0 6.667em;
  }
}

.parallax-two {
  .parallax__content {
    .form-submit {
      span {
        display: block;
        margin: 0.833rem 1.5rem 2rem;
      }
    }
  }
}

section.portfolio {
  .portfolio__button {
    width: 10.250rem;
    padding: 1.667rem 2.667rem;
    border: 0.083rem solid $gray;
    font-weight: 600;
  }
  .portfolio__slider {
    position: relative;
    .min-slider {
      padding: 0 48px;
      .slider__item {
        padding: 1.667rem 0;
        border: 0.083rem solid $gray;
        img {
          margin: 0 auto;
        }
      }
      .slick-arrow {
        opacity: 0;
      }
    }
    .arrows {
      button {
        position: absolute;
        top: 50%;
        @include translate-Y;
        z-index: 13;
        opacity: .7;
        background: none;
        border: none;
        cursor: pointer;
        width: 4.167rem;
        height: 100%;
        transition: all .3s ease;
      }
      .arrow-next {
        right: 0;
        &:hover {
          right: -5px;
        }
      }
      .arrow-prev {
        left: 0;
        &:hover {
          left: -5px;
        }
      }
    }
  }
  .portfolio__back {
    position: relative;
    overflow: hidden;
    margin: 35px 0;
    .portfolio__col {
      padding: 0;
      border: 15px solid #ffffff;
      .portfolio__block {
        position: relative;
        height: 280px;
        background-color: rgba(0, 0, 0, 0.5);
        //margin: 15px 0;
        //mix-blend-mode: screen;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          @include translate-center;
          mix-blend-mode: luminosity;
        }
        &:hover img {
          mix-blend-mode: normal;
        }
      }
    }
    .portfolio__front {
      position: absolute;
      background: url("../images/temp/bg-f-7.jpg") center / cover;
      width: 100%;
      height: 100%;
      @include blur;
      @include top-center;
    }
  }
}

section.review {
  position: relative;
  color: $white;
  .container {
    position: absolute;
    padding: 8.333em 0;
    z-index: 12;
    @include top-center;
    i.fas {
      text-align: center;
      display: block;
      font-size: 1.500rem;
      margin-top: 2.833rem;
    }
    .section__title:after {
      display: none;
    }
    .arrows {
      button {
        position: absolute;
        top: 50%;
        z-index: 13;
        opacity: .7;
        background: none;
        border: none;
        cursor: pointer;
        width: 150px;
        height: 150px;
        transition: all .3s ease;
      }
      .arrow-next {
        right: 0;
        &:hover {
          right: -5px;
        }
      }
      .arrow-prev {
        left: 0;
        &:hover {
          left: -5px;
        }
      }
    }
  }

// Slider bottom
  .welcome {
    position: absolute;
    text-align: center;
    @include top-center;
    .slider {
      //position: relative;
      height: 50rem;
      &.slick-dotted {
        margin: 0;
      }
      .slider-bg {
        height: 50rem;
        width: 100%;
        position: relative;
        &.first {
          background: url("../images/temp/bg-f-7.jpg") no-repeat center / cover;
        }
        &.second {
          background: url("../images/temp/bg-f-6.jpg") no-repeat center / cover;
        }
        &.third {
          background: url("../images/temp/bg-f-5.jpg") no-repeat center / cover;
        }
        &.fourth {
          background: url("../images/temp/bg-f-4.jpg") no-repeat center / cover;
        }
        &.fifth {
          background: url("../images/temp/bg-f-3.jpg") no-repeat center / cover;
        }
        &.sixth {
          background: url("../images/temp/bg-f-2.jpg") no-repeat center / cover;
        }
        //semitransparent shadow on slider image
        &::after {
          position: absolute;
          @include top-center;
          content: '';
          display: block;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }
        .section__subtitle {
          margin-top: 8.333rem;
        }
        .author {
          font-size: 1.833rem;
          font-weight: 600;
          & p {
            position: relative;
            display: inline-block;
            margin-bottom: 0.833rem;
          }
          & p::before,
          & p::after {
            position: absolute;
            display: block;
            content: '';
            width: 0.500rem;
            height: 0.167rem;
            background-color: $white;
            top: 50%;
          }
          & p::before {
            left: -1rem;
          }
          & p::after {
            right: -1rem;
          }
          & a {
            display: block;
            font-size: 1.167rem;
            font-weight: 500;
            color: $gold;
            text-decoration: underline;
          }
        }
        .video {
          font-size: 1.500rem;
          font-weight: 600;
          margin-top: 2.833rem;
          & a {
            position: relative;
            display: block;
            margin: 1.5rem auto 0;
            width: 4.167rem;
            height: 4.167rem;
            border-radius: 100%;
            border: 0.083rem solid $white;
            transition: all 1s ease;
            &::before {
              font-family: 'FontAwesome';
              position: absolute;
              display: block;
              content: "\f0da";
              font-size: 2.500rem;
              top: 50%;
              left: 56%;
              @include translate-center;
            }
            &:hover {
              border: none;
              transform: rotate(360deg);
              transition: all 1s ease;
              &::before {
                content: "\f03d";
                font-size: 2rem;
              }
            }
          }
        }
      }
      .slick-slide {
        height: 100%;
      }
      .slick-arrow {
        position: absolute;
        opacity: 0;
      }
      .slick-next {
        top: 0;
      }
    }
  }
}






//sections styles end---------------------------------------------------------------------------------------




//.parallax {
//  perspective: 2px;
//  height: 100vh;
//  overflow-x: hidden;
//  overflow-y: auto;
//  font-size: 200%;
//
//  text-align: center;
//}
//
//.parallax__layer {
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  padding: 100vh 0;
//}
//
//.parallax__group {
//  position: relative;
//  height: 100vh;
//  transform-style: preserve-3d;
//}
//
//.parallax__layer--base {
//  transform: translateZ(0);
//  background-color: rgba(345,12,34,0.5);
//}
//
//.parallax__layer--back {
//  transform: translateZ(-10px) scale(6);
//  background-color: rgba(123,323,34,0.5);
//}



